

/* This is for the login and sign up div */

#sign-wrapper{
    max-width: 450px;
    margin: 30px auto;
    /* box-shadow: 0 0 10px black; */
    /* border: 1px solid #343a40;
    border-radius: 10px; */
}

.nav-tabs {
    border-bottom: none;
}

#sign-in, #sign-up{
    padding: 30px 30px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
}

/* This is for the width of the tabs of the sign in / sign up */

/* #sign-wrapper .nav-tabs .nav-item .nav-link {
    min-width: 80px !important;
    text-align: center;
} */

/* This is for the top menu of the website */

.navbar-brand {
    font-weight: 500;
}

.nav-item{
    width: 100px;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
    font-weight: 500;
}

.nav-item:hover {
    border: 2px solid #CCC;
}

.navbar-nav {
    margin-left:30px;
}

.navbar-nav .active {
    background-color: #EEE;
}

.navbar-nav .active .nav-link {
    color: #343a40 !important;
}

.navbar-nav .nav-link {
    padding: 6px 0px;
}

/* This is for the signout button */

#signoutBtn {
    margin-left: 10px !important;
}

/* This is for the table container */

#table-container {
    /* width: 1000px; */
    margin: auto;
}

/* Aligning to the right */

.righto {
    text-align: right;
}

.centero {
    text-align:center;
}


/* This is for the top padding of the nav links when responsive at 990px */

@media only screen and (max-width: 990px) {
    .nav-item{
        margin-bottom:10px;
    }
}


/* This is for the error msg div */

.error {
    color: rgb(255, 71, 71);
}